<!--4-->
<!-- "sobachka"using ASP_NET_CORE_SHOP.DATA.Models Не забути підключити саму модель щоб можна було нею користуватись-->
<!-- "sobachka"model IEnumerable<Car> -->
<!-- "sobachka"using ASP_NET_CORE_SHOP.ViewModels Вже можна видалити бо ми створили файл _ViewImports.cshtml в якому всі такі штукі будемо прописувати-->
<!-- "sobachka"model CarsListVievModel -->
<!-- "sobachka"{ось тak описується С# код                       всі цикли, якісь функції які будуть необхідні для HTML сторінки, прописуємо тут
         Layout = "_Layout";//якщо вказати Layout тоді все що тут буде знаходитись в файлі _Layout.cshtml в параметрі "sobachka"RenderBody()
     }-->

<h1>Вивід всіх авто</h1>
<!--<h2>@ViewBag.Somsyn_intrestin </h2>-->
<h2>@Model.carrCategory</h2>
<div class="row ml-5 mb-2"><!-- Створюємо загальний блок в середину якого поміщаємо сам цикл, цей блок має відступ зверху та відступ знизу за допомогою Бутстрапа розмічений-->
    @{ //без знака пробіла
            foreach (var car in Model.allCars)//Перебираємо циклом, змінну типу вар в якій отримаємо все з ліста Car і доти докии глобальна Model (Яка знаходиться в CarsController.cs)
            {
            <div class="col-lg-4"><!-- Створення з кожною новою ітерацією нового блоку по 4 одиниці (сітка з 12 беремо 4) -->
                <img class="img-thumbnail" src="@car.img" alt="@car.name" /><!-- Картинки будуть по горизонталі і так само використовуємо заготовку класу Бутстрапа-->
                <h1>Model: @car.name</h1><!--Пишемо що Великими буквами написати модель і вивести імя з ліста який ми раніше прописали--->
                <p>Price: @car.price.ToString("c")</p> <!--З абзацу вивести ціну яку ми переконвертували в стрінг з форматом "С"(грощовий формат) -->
                <h3>Avalible: @car.avalible</h3>
                <h3>Opis: @car.shortDesc</h3>
                <h3>Long opis: @car.longDesc</h3>
                <p><a class="btn btn-warning" href="#">Info</a></p>     <!--Add button Info-->
            </div>
            }

            }
</div>