@using ASP_NET_CORE_SHOP.DATA.Models
@model IEnumerable<Car>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Name_List</title>
</head>
<body>
    <h1>Cars</h1>
    @{
        foreach (var car in Model)
        {
            <div>
                <h1>Model: @car.Name</h1>
                <h3>Image: @car.Image</h3>
                <p>Price: @car.Price.ToString("c")</p>
                <h3>Avalible: @car.Available</h3>
                <h3>Opis: @car.ShortDescription</h3>
                <h3>Long opis: @car.LongDescription</h3>
            </div>
        }
    }
</body>
</html>
