<!--4-->
<!-- "sobachka"using ASP_NET_CORE_SHOP.DATA.Models Не забути підключити саму модель щоб можна було нею користуватись-->
<!-- "sobachka"model IEnumerable<Car> -->
<!-- "sobachka"using ASP_NET_CORE_SHOP.ViewModels Вже можна видалити бо ми створили файл _ViewImports.cshtml в якому всі такі штукі будемо прописувати-->
<!-- "sobachka"model CarsListVievModel -->
<!-- "sobachka"{ось тak описується С# код                       всі цикли, якісь функції які будуть необхідні для HTML сторінки, прописуємо тут
         Layout = "_Layout";//якщо вказати Layout тоді все що тут буде знаходитись в файлі _Layout.cshtml в параметрі "sobachka"RenderBody()
     }-->

<h1>Вивід всіх авто</h1>
<!--<h2>@ViewBag.Somsyn_intrestin </h2>-->
<h2>@Model.carrCategory</h2>
@{ //без знака пробіла
    foreach (var car in Model.allCars)//Перебираємо циклом, змінну типу вар в якій отримаємо все з ліста Car і доти докии глобальна Model (Яка знаходиться в CarsController.cs)
    {
        <div>
            <h1>Model: @car.name</h1><!--Пишемо що Великими буквами написати модель і вивести імя з ліста який ми раніше прописали--->

            <h3>Image: @car.img</h3>
            <p>Price: @car.price.ToString("c")</p> <!--З абзацу вивести ціну яку ми переконвертували в стрінг з форматом "С"(грощовий формат) -->
            <h3>Avalible: @car.avalible</h3>
            <h3>Opis: @car.shortDesc</h3>
            <h3>Long opis: @car.longDesc</h3>

        </div>
    }
}